/* Variables */

:root {
    --basic-black: #000000;
    --basic-carbon: #231F20;
    --basic-dark-grey: #333333;
    --basic-white: #ffffff;
    --basic-blue: #81B3D2;
    --basic-dark-orange: #766357;
    --basic-light-gray: #F2F2F2;
    --basic-gray: #666666;
    --basic-dark: #aba9a7;
    --basic-beige: #EEEEEE;
    --basic-dark-beige: #E5E5E5;

    --special-blue: #669ec0;
    --special-gray: #888888;
    --special-light-blue: #5496BD;
    --special-dark-orange: #604E43;
    --special-brown: #503e33;
    --special-purplish-pink: #BDBBBC;
    --special-light-grey: #ababab;
}

    /* Global */

.page-body {
    position: relative;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page-body button {
    font-family: "PT Sans", Arial, sans-serif;
}

.page {
    width: 1200px;
    margin: 0px auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}


/* Main navigation */

.main-navigation {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.site-navigation {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navigation-information {
    margin-left: 73px;
}

.navigation-foto {
    margin-left: 5px;
}

.navigation-map {
    margin-left: 210px;
}

.navigation-hotels {
    margin-left: 150px;
}

.main-header-logo {
    position: absolute;
    top: -15px;
    right: 530px;
}

.navigation-list:hover {
    color: var(--basic-blue);
}

.navigation-list:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.navigation-list:visited {
    color: var(--basic-dark-orange);
}

.site-navigation,
.social-list,
.advantage-list,
.services-list,
.footer-social,
.infrastructure-list,
.housing-list,
.sorting-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-list,
.sorting-item-price,
.sorting-item-type,
.sorting-item-rating {
    color: var(--basic-black);
}

/* Title */

.text,
.hotel-link,
.motel-link,
.apartments-link {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black)
}

.title-text {
    line-height: 26px;
    text-align: center;
}

.title-subtitle {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    padding-top: 43px;
    padding-bottom: 35px;
    color: var(--basic-black)
}

.title {
    text-align: center;
    width: 1200px;
    height: 216px;
    margin: 0 auto;
    margin-top: -14px;
    
}

/*Content*/

.content-heading {
    font-size: 21px;
    line-height: 21px;  
    padding-top: 47px;
}

.content-img,
.hotel-img,
.motel-img,
.apartments-img {
    background-color: var(--basic-dark);
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filters {
    display: grid;
    grid-template-columns: 208px 255px 347px 390px;
    width: 1200px;
    height: 217px;
    margin: 0 auto;
    color: var(--basic-white);
    background-image: url("../img/background.jpg");
}

.filter-option .filter-label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-label {
    padding-left: 32px;
}

.filter-price {
    width: 317px;
    height: 36px;
    text-align: center;
    border: 2px solid var(--basic-white);    
}

.filter-price-min {
    padding: 0px 15px;

}

.filter-price-max {
    border-left: 2px solid var(--basic-white);
}

.filter-input-checkbox:checked + .filter-label::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 27px;
    height: 23px;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox + .filter-label::before {
    content: "";
    position: absolute;
    z-index: 200;
    left: 0px;
    top: 0;
    width: 19px;
    height: 19px;
    border-radius: 3px;
    border: 2px solid var(--basic-white);
}

 

.filter-item {
    grid-column-start: 4;
    width: 317px;
    height: 217px;
}

.filter-item-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    padding-top: 26px;
    padding-bottom: 12px;
}

.scale {
    height: 2px;
    background: var(--basic-white);
    opacity: 0.3;
}

.button-filter {
    padding-left: 90px;
    
}

.button-filter-show:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.button-filter-show {
    width: 137px;
    height: 36px;
    color: var(--basic-white);
    background-color: unset;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
}

.bar {
    margin-top: -2px;
    width: 80%;
    height: 2px;
    background: var(--basic-white);
}

.range-controls {
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
}

.range-controls .toggle {
    position: absolute;
    top: 11px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--special-light-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--special-light-grey);
    cursor: pointer;
}

.range-controls .toggle-min:hover {
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 12px solid var(--basic-white);
    background-color: var(--special-light-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--special-light-grey);
    cursor: pointer;
}

.range-controls .toggle-max:hover {
    position: absolute;
    top: 8px;
    left: 250px;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 12px solid var(--basic-white);
    background-color: var(--special-light-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--special-light-grey);
    cursor: pointer;
}
  
.range-controls .toggle-max {
    left: 250px;
}

.services-item,
.advantage-item,
.picture {
    text-align: center;
}


.reservation {
    height: 291px;
    text-align: center;
}

.reservation-heading {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;  
    padding-top: 55px;
}

.reservation-text {
    width: 495px;
    height: 95px;
    margin: 0px auto;
    margin-top: 4px;
}



.button-search-hotel {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    width: 568px;
    height: 86px;
    background-color: var(--basic-dark-orange);
    color: var(--basic-white);
    border: none;
}

.registration {
    position: relative;
    display: none;
    width: 568px;
    height: 395px;
    margin: 0px auto;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    background-color: var(--basic-white);
}

.modal--show {
    display: block;
    animation: bounce 1s;
}

.button-find-hotel {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0px 55px 55px 55px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    width: 458px;
    height: 58px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    border: none;
}

.button-find-hotel:hover,
.hotel-details:hover,
.motel-details:hover,
.apartments-details:hover {
    background-color: var(--special-blue);
}

.button-find-hotel:active,
.hotel-details:active,
.motel-details:active,
.apartments-details:active {
    background-color: var(--special-light-blue);
    color: var(--basic-white);
    opacity: 0.3;
}

.arrival-label {
    margin-left: 55px;
    padding-right: 12px;
}

.arrival-input {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    width: 346px;
    height: 38px;
    margin-top: 55px;
    margin-right: 55px;
    border: none;
    background-color: var(--basic-light-gray);
}

.departure-label {
    margin-left: 55px;
    padding-right: 11px;
}

.departure-input {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    width: 346px;
    height: 38px;
    margin-top: 29px;
    margin-right: 55px;
    border: none;
    background-color: var(--basic-light-gray);
}

.calendar-arrival {
    position: absolute;
    margin-top: 63px;
    margin-left: -84px;
}

.calendar-departure {
    position: absolute;
    margin-top: 37px;
    margin-left: -84px;
}

.grown-children-hotel {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 458px;
    margin-top: 30px;
    margin-left: 55px;
}

.grown-input {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 114px;
    height: 38px;
    margin-left: 33px;
    border: none;
    background-color: var(--basic-light-gray);
}

.children-input {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 114px;
    height: 38px;
    margin-left: 35px;
    border: none;
    background-color: var(--basic-light-gray);
}

.grown-recntagle {
    position: absolute;
    top: 17px;
    left: 120px;
}

.grown-union {
    position: absolute;
    top: 13px;
    left: 205px;
}

 
.children-recntagle {
    position: absolute;
    top: 17px;
    right: 92px;
}

.children-union {
    position: absolute;
    top: 13px;
    right: 15px;
}

.arrival-input:focus,
.departure-input:focus,
.grown-input:focus,
.children-input:focus {
    background-color: var(--basic-white);
}


.calendar-arrival:hover path,
.calendar-departure:hover path,
.grown-recntagle:hover path,
.grown-union:hover path,
.children-recntagle:hover path,
.children-union:hover path {
    fill: var(--basic-black);
}

.calendar-arrival:active path,
.calendar-departure:active path,
.grown-recntagle:active path,
.grown-union:active path,
.children-recntagle:active path,
.children-union:active path {
    fill: var(--basic-blue);
}

/*Footer*/


.main-footer {
    display: grid;
    width: 1200px;
    height: 120px;
    margin: auto;
    margin-top: -30px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--basic-white);
}

.main-footer-index {
    margin-top: -122px;
    opacity: 0.9;
}

.footer-contact {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}



.footer-phone-tel {
    color:  var(--basic-black);
}

.footer-text {
    padding-left: 168px;
    margin-bottom: -10px;
}

.footer-phone {
    padding-left: 125px;
}
 
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: var(--basic-blue);
    color: inherit;
    margin-left: 7px;
}

.footer-social,
.footer-copyright,
.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-copyright {
    padding-right: 139px;
    font-size: 14px;
    line-height: 26px;
}

.button {
    margin-left: 8px;
}

.social-button:hover {
    background-color: var(--special-blue);
}

.social-button:active {
    background-color: var(--special-light-blue);
    opacity: 0.3;
}

.button:hover path {
    fill: var(--basic-blue);
}

.button:active path {
    fill: var(--special-purplish-pink);
}

.infrastructure-title,
.housing-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.sorting-list {
    font-size: 12px;
    line-height: 18px;
}

.sorting-item-price {
    margin-left: 40px;
    margin-right: 30px;
}

.sorting-svg-price {
    margin-left: 39px;
}

.sorting-item-rating,
.sorting-svg-rating {
    margin-left: 33px;
}

.sorting-svg-price,
.sorting-svg-rating,
.sorting-svg-tupe {
    display: flex;   
}

.sorting-item-price,
.sorting-item-type,
.sorting-item-rating {
    color: var(--basic-black);
    opacity: 0.3;
}

.sorting-item-price:hover,
.sorting-item-type:hover,
.sorting-item-rating:hover {
    color: var(--basic-blue);
}

.sorting-item-price:active,
.sorting-item-type:active,
.sorting-item-rating:active {
    color: var(--basic-black);
    opacity: 1;
}

.sorting-item-price:visited,
.sorting-item-type:visited,
.sorting-item-rating:visited {
    color: var(--basic-blue);
}

.services-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 330px;
    margin: 0px auto;
}

.advantage-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 256px;
    margin: 0px auto;
    background-color: var(--basic-beige);
}

.content-desc-city,
.content-desc-bridge {
    width: 400px;
    height: 256px;  
    color: var(--basic-white);
    background-color: var(--basic-blue);
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 256px;
    margin: 0 auto;
}

.picture-welcome {
   margin-top: -550px;
}

.picture-background {
    margin-bottom: -100px;
}

.picture-frame {
    margin-bottom: -60px;
}



.map {
    width: 1200px;
    height: 594px;
    margin: 0 auto;
    background-color: var(--basic-dark);
    background-image: url(../img/map.jpg);
}

.picture {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.infrastructure,
.housing,
.filter-item {
    padding: 0;
    margin: 0;
    border: none;
}

.breadcrumbs,
.hotel,
.motel,
.apartments {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 30px auto;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--basic-dark-beige)
}

.triangle-up-down {
    display: flex;
    align-items: center;
    margin-left: 485px;
}

.triangle-down {
    margin-right: 12px;
}

.triangle-down:hover path,
.triangle-up:hover path {
    fill: var(--basic-black);
}

.triangle-down:active path,
.triangle-up:active path,
.triangle-down:visited path,
.triangle-up:visited path {
    fill: var(--basic-blue);
}


.hotel-img,
.motel-img,
.apartments-img {
    width: 135px;
    height: 90px;
    margin-left: 72px;
}

.hotel-details,
.motel-details,
.apartments-details {
    font-weight: bold;
    color: var(--basic-white);
    width: 110px;
    height: 24px;
    margin: 0px;
    margin-right: 6px;
    margin-left: 29px;
    padding-top: 3px;
    text-align: center;
    border: none;
    background-color: var(--basic-blue);
}


.hotel-reservation,
.motel-reservation,
.apartments-reservation {
    font-weight: bold;
    border: 8px solid var(--basic-dark-orange);
    color: var(--basic-white);
    margin: 0px;
    width: 142px;
    height: 27px;
    text-align: center;
    border: none;
    background-color: var(--basic-dark-orange);
}

.button-search-hotel:hover,
.hotel-reservation:hover,
.motel-reservation:hover,
.apartments-reservation:hover {
    background-color: var(--special-dark-orange);
}

.button-search-hotel:active,
.hotel-reservation:active,
.motel-reservation:active,
.apartments-reservation:active {
    background-color: var(--special-brown); 
}

.hotel-rating,
.motel-rating,
.apartments-rating {
    background-color: var(--basic-light-gray);
    color: var(--basic-gray);
    margin: 0px;
    width: 110px;
    height: 24px;
    padding-top: 3px;
    text-align: center;
}

.hotel-link,
.motel-link,
.apartments-link {
    margin-left: 29px;
}

.hotel-link:hover,
.motel-link:hover,
.apartments-link:hover {
    color: var(--basic-blue);
}

.hotel-link:active,
.motel-link:active,
.apartments-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}


.sorting-list,
.sorting {
    display: flex;
    align-items: center;
}



.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 56px;
    margin: 0 auto;
}
 
 


.text {
    margin-left: 73px;
    margin-right: 46px;
}



.infrastructure {
    margin-left: 72px;
    margin-top: 26px;
    margin-right: 118px;
}

.housing {
    margin-top: 26px;
    margin-left: 118px;
}

.infrastructure-item,
.housing-item {
    padding-top: 25px;
}


.hotel-text,
.motel-text,
.apartments-text {
    display: flex;
    margin-top: -11px;
    margin-left: 29px;
}
.hotel-name,
.motel-name,
.apartments-name {
    width: 127px;
    margin-right: -10px;
}


.hotel-button,
.motel-button,
.apartments-button {
    display: flex;
}



.hotel-star {
    text-align: center;
}

.hotel-rating,
.motel-rating,
.apartments-rating {
    margin-left: 510px;
}

.hotel-information,
.motel-information,
.apartments-information {
    position: relative;
}

.hotel-star,
.motel-star,
.apartments-star {
    position: absolute;
    right: 0px;
}

@keyframes bounce {
    0% {
      transform: translateY(-100px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
}





