/* Variables */

:root {
    --basic-black: #000000;
    --basic-carbon: #231F20;
    --basic-dark-grey: #333333;
    --basic-white: #ffffff;
    --basic-blue: #81B3D2;
    --basic-dark-orange: #766357;
    --basic-light-gray: #F2F2F2;
    --basic-gray: #666666;
    --basic-dark: #aba9a7;
    --basic-beige: #EEEEEE;

    --special-blue: #669ec0;
    --special-light-blue: #5496BD;
    --special-dark-orange: #604E43;
    --special-brown: #503e33;
}

    /* Global */

.page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/* Main navigation */

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.site-navigation,
.social-list,
.advantage-list,
.services-list,
.footer-social,
.infrastructure-list,
.housing-list,
.sorting-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-list,
.sorting-item-type {
    color: var(--basic-black);
}

/* Title */

.title-subtitle,
.footer-contact,
text,
.hotel-link,
.motel-link,
.apartments-link {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black)
}

.title-text {
    line-height: 26px;
    text-align: center;
}

/*Content*/

.content {
    background-color: var(--basic-blue);
}

.content-heading {
    font-size: 21px;
    line-height: 21px;  
    
}

.content-img,
.hotel-img,
.motel-img,
.apartments-img {
    background-color: var(--basic-dark);
    border: none;
}

  /*Advantage*/

.advantage-list {
    background-color: var(--basic-beige);
}

/*Reservation*/

.reservation,
.footer-social,
.title-subtitle {
    text-align: center;
}

.reservation-heading {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

/*Map*/

.map-img {
    background-color: var(--basic-dark);
}



/*Footer*/


.footer-phone {
    color: var(--basic-black);
    text-decoration: underline;
}

.social-button,
.hotel-details,
.motel-details,
.apartments-details {
    background-color: var(--basic-blue);
    border: 8px solid var(--basic-blue);
    color: var(--basic-white)
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
}

.infrastructure,
.housing,
.price {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filters {
    color: var(--basic-white);
    background-color: var(--basic-dark);
}
.sorting-list {
    font-size: 12px;
    line-height: 18px;
}

.sorting-item-price {
    color: var(--basic-blue);
}

.sorting-item-type {
    mix-blend-mode: normal;
    opacity: 0.3;
}

.hotel-reservation,
.motel-reservation,
.apartments-reservation {
    background-color: var(--basic-dark-orange);
    border: 8px solid var(--basic-dark-orange);
    color: var(--basic-white)
}

.hotel-rating,
.motel-rating,
.apartments-rating {
    background-color: var(--basic-light-gray);
    border: 8px solid var(--basic-light-gray);
    color: var(--basic-gray)
}